  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">DevOpSpy</a>
      <div class="nav-collapse">
        <ul class="nav">
        </ul>
      </div>
    </div>
  </div>