  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">DevOpSpy</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div>
    </div>
  </div>