<h2>Profiles</h2>
<ol></ol>

<form class="form-inline">
  <input type="text" class="input-small" placeholder="Name" name="name" id="new-profile-name">
  <input type="text" class="input-small" placeholder="User" name="user" id="new-profile-user">
  <input type="password" class="input-small" placeholder="Password" id="new-profile-password">
  <input type="text" class="input-small" placeholder="Host" name="host" id="new-profile-host">
  <input type="text" class="input-small" placeholder="File path" name="filePath" id="new-profile-file-path">
  <a class="btn">Create Profile</button>
</form>