<div id="content-header">
	<span id="content-header-title"><i class="{{ icon }}"></i> <strong>{{ title }}</strong></span>
</div>
<div id="content-body">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12" id="view-content">
<form class="form-inline">

<input type="text" name="expression" id="dos-search-data-expression" />			
<button type="submit" class="btn" id="dos-serach-data-submit">Search</button>
<div id="dos-search-data-profiles-list">
<div>
</form>
			</div>
		</div>
	</div>
</div>
