<div id="content-header">
	<span id="content-header-title"><i class="{{ icon }}"></i> <strong>{{ title }}</strong></span>
</div>
<div id="content-body">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12" id="view-content">
			
<div class="hero-unit">
	<h1>Heading</h1>
	<p>Tagline</p>
	<p>
		<a class="btn btn-primary btn-large">
		Learn more
		</a>
	</p>
</div>
			</div>
		</div>
	</div>
</div>
