#content-header {
	background: none repeat scroll 0 0 #ffff00;
}

#side-nav {
	position: absolute;
	left: 20px;
	top: 60px;
	bottom: 20px;
	width: 250px;
}

#side-nav>ul {
	background-color: rgb(255, 255, 255);
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	margin-top: 0px;
}

#side-nav>ul>li {
	width: 250px;
}

#side-nav>ul>li>a {
	background-color: rgb(255, 255, 255);
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px 8px 14px;
	border: 1px solid #e5e5e5;
	width: 220px;
}

#side-nav>ul>li>a>i:first-of-type {
	margin-right: 5px
}

#side-nav>ul>li:first-child>a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

#side-nav>ul>li:last-child>a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

#side-nav>ul>li.active>a {
	position: relative;
	z-index: 2;
	padding: 9px 15px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	background-color: #0088cc;
	-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
}

#side-nav>ul>li>a:hover {
	background-color: #f5f5f5;
}

#side-nav>ul>li.active>a:hover {
	background-color: rgb(0, 136, 204);
}

#main-home {
	position: absolute;
	top: 60px;
	bottom: 20px;
	left: 290px;
	right: 20px;
}

#content-header {
	-webkit-box-shadow: rgba(0, 0, 0, 0.0627451) 0px 0px
		3.3333334922790527px 0px;
	background-color: rgb(250, 250, 250);
	background-image: linear-gradient(rgb(255, 255, 255), rgb(242, 242, 242));
	background-repeat: repeat-x;
	border: 1px solid #d4d4d4;
	box-shadow: rgba(0, 0, 0, 0.0627451) 0px 0px 3.3333334922790527px 0px;
	display: block;
	height: 29px;
	min-height: 29px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 11px;
	color: rgb(153, 153, 153);
	
}

#content-body {
	padding-top: 20px;
	padding-bottom: 20px;
	background: none repeat scroll 0 0 #00ffff;
	border: 1px solid #ccc;
	background: white;
	border-top: none;
	overflow: auto;
	position: absolute;
	top: 42px;
	bottom: 0;
	left: 0;
	right: 0;
}

/*
#main div.row-fluid>div {
	background-color: rgba(245, 245, 245, 0.5);
}
*/
body {
	background-image: url('../img/binding_light.png');
}
}
/*
@media ( max-width : 767px) {
	[class*="span"].pull-right {
		float: none;
	}
}

html,html>body#dos-body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#main,#main>div.row-fluid,#main-home>div,.results-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.results-container {
	top: 0;
	overflow: auto;
	margin-top: 55px;
}

#main {
	top: 50px;
}

#main>div.row-fluid,#main-home>div {
	top: 0;
}

#main-home {
	position: relative;
	margin-bottom: 50px;
	height: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

body {
	padding-top: 40px;
}

div.row-fluid>div[class*="span"] {
	margin-left: 5px;
	margin-right: 5px;
}

.navbar a.dos-brand {
	padding-top: 9px;
	padding-bottom: 8px;
}

.nav-list {
	max-width: 100%;
}*/