<div class="modal hide fade" id="group-modal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h3>{{ name }}</h3>
	</div>
	<div class="modal-body">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#group-modal-general"
				data-toggle="tab">General</a></li>
			<li><a href="#group-modal-profiles" data-toggle="tab">Profiles</a></li>
		</ul>
		<div id="group-modal-tab-content" class="tab-content">
			<div class="tab-pane fade active in" id="group-modal-general">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="inputId">ID</label>
						<div class="controls">
							<input type="text" id="inputId" placeholder="ID" disabled
								value="{{ id }}">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputName">Name</label>
						<div class="controls">
							<input type="text" id="inputName" placeholder="Name"
								value="{{ name }}">
						</div>
					</div>
				</form>
			</div>
			<div class="tab-pane fade" id="group-modal-profiles">
				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="profiles-filter">Chhose profiles</label>
						<div class="controls">
							<input type="text" id="profiles-filter"
								placeholder="Filter profiles...">
						</div>
					</div>
					<div class="control-group">
						<div class="controls" id="group-modal-profiles-options">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" id="group-modal-delete">Delete group</button>
			<button class="btn" id="group-modal-close">Close</button>
			<button class="btn btn-primary" id="group-modal-save">Save
				changes</button>
		</div>
	</div>