<table class="table table-hover table-condensed" id="profiles-view-profiles-table">
	<thead>
		<tr>
			<th class="group-id">ID</th>
			<th class="group-name">Name</th>
			<th class="group-profiles">Profiles</th>
			<th class="group-delete group-edit"></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>