<h3>
<div class="btn-group pull-right">
<button class="btn btn-small" id="show-hide-groups">Hide groups</button>
<button class="btn btn-small btn-primary" id="create-group">Create group</button>
</div>
Groups</h3> 
<div id="groups-collection">
</div>
<div id="groups-modal-region"></div>