<table class="table table-hover table-condensed" id="profiles-view-profiles-table">
	<thead>
		<tr>
			<th class="profile-id">ID</th>
			<th class="profile-name">Name</th>
			<th class="profile-groups">Groups</th>
			<th class="profile-user">User</th>
			<th class="profile-host">Host</th>
			<th class="profile-path">Path</th>
			<th class="profile-private-key">Key Location</th>
			<th class="profile-delete profile-edit"></th>
		</tr>
	</thead>
	<tbody></tbody>
</table>