<h3>
<div class="btn-group pull-right">
<button class="btn btn-small" id="show-hide-profiles">Hide Profiles</button>
<button class="btn btn-small btn-primary" id="create-profile">Create Profile</button>
</div>
Profiles</h3> 
<div id="profiles-collection">
</div>
<div id="profiles-modal-region"></div>