<div class="block">
	<div class="navbar navbar-inner block-header">
		<div class="muted pull-left">Home</div>
	</div>
	<div class="block-content collapse in results-container">
	<div class="results">
<pre class="LineNumbers">
[INFO] Scanning for projects...
[INFO]                                                                         
[INFO] ------------------------------------------------------------------------
[INFO] Building devopspy 1.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO] 
[INFO] --- maven-clean-plugin:2.4.1:clean (default-clean) @ devopspy ---
[INFO] Deleting C:\Users\Aonghus\workspace-sts\devopspy\target
[INFO] 
[INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ devopspy ---
[INFO] Using 'UTF-8' encoding to copy filtered resources.
[INFO] Copying 3 resources
[INFO] 
[INFO] --- maven-compiler-plugin:2.5.1:compile (default-compile) @ devopspy ---
[INFO] Compiling 17 source files to C:\Users\Aonghus\workspace-sts\devopspy\target\classes
[INFO] 
[INFO] --- maven-resources-plugin:2.6:testResources (default-testResources) @ devopspy ---
[INFO] Using 'UTF-8' encoding to copy filtered resources.
[INFO] skip non existing resourceDirectory C:\Users\Aonghus\workspace-sts\devopspy\src\test\resources
[INFO] 
[INFO] --- maven-compiler-plugin:2.5.1:testCompile (default-testCompile) @ devopspy ---
[INFO] Compiling 1 source file to C:\Users\Aonghus\workspace-sts\devopspy\target\test-classes
[INFO] 
[INFO] --- maven-surefire-plugin:2.10:test (default-test) @ devopspy ---
[INFO] Surefire report directory: C:\Users\Aonghus\workspace-sts\devopspy\target\surefire-reports

-------------------------------------------------------
 T E S T S
-------------------------------------------------------

Results :

Tests run: 0, Failures: 0, Errors: 0, Skipped: 0

[INFO] 
[INFO] --- maven-war-plugin:2.3:war (default-war) @ devopspy ---
[INFO] Packaging webapp
[INFO] Assembling webapp [devopspy] in [C:\Users\Aonghus\workspace-sts\devopspy\target\devopspy-1.0-SNAPSHOT]
[INFO] Processing war project
[INFO] Copying webapp resources [C:\Users\Aonghus\workspace-sts\devopspy\src\main\webapp]
[INFO] Webapp assembled in [1005 msecs]
[INFO] Building war: C:\Users\Aonghus\workspace-sts\devopspy\target\devopspy-1.0-SNAPSHOT.war
[INFO] 
[INFO] --- maven-install-plugin:2.3.1:install (default-install) @ devopspy ---
[INFO] Installing C:\Users\Aonghus\workspace-sts\devopspy\target\devopspy-1.0-SNAPSHOT.war to C:\Users\Aonghus\.m2\repository\org\devopspy\devopspy\1.0-SNAPSHOT\devopspy-1.0-SNAPSHOT.war nstalling C:\Users\Aonghus\workspace-sts\devopspy\target\devopspy-1.0-SNAPSHOT.war to C:\Users\Aonghus\.m2\repository\org\devopspy\devopspy\1.0-SNAPSHOT\devopspy-1.0-SNAPSHOT.war

[INFO] Installing C:\Users\Aonghus\workspace-sts\devopspy\pom.xml to C:\Users\Aonghus\.m2\repository\org\devopspy\devopspy\1.0-SNAPSHOT\devopspy-1.0-SNAPSHOT.pom
[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 5.971s
[INFO] Finished at: Sun Jul 21 15:38:26 BST 2013
[INFO] Final Memory: 22M/224M
[INFO] ------------------------------------------------------------------------
</pre>
	</div>
</div></div>